/* Common Styles */
.section-download {
  padding: 20px 0;
  text-align: center;
  background-color: #171941; /* 기본 배경색 검정 */
}

.section-download h2.title {
  font-size: 24px;
  color: #fff; /* 제목 색상 */
  margin-bottom: 20px;
}

.section-download h4.description {
  font-size: 16px;
  color: #ccc; /* 설명 색상 */
  margin-bottom: 30px;
}

.section-download img.img-raised {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.section-download iframe {
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto;
}

.section-download .btn-round {
  margin-bottom: 20px;
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
  .section-download {
    padding: 15px;
  }

  .section-download h2.title {
    font-size: 20px;
  }

  .section-download h4.description {
    font-size: 14px;
  }

  .section-download .col-sm-6 {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .section-download .text-center {
    text-align: center !important;
  }

  .section-download iframe {
    width: 100%;
    height: auto;
  }
}

.EnglishTitle, h1, h2, h3, h4, h5, h6, p{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 1.5em;
}